<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Creative - Bootstrap 3 Responsive Admin Template">
<meta name="author" content="GeeksLabs">
<meta name="keyword"
	content="Blog,Share,Knowledge,Information,Computer,Programming">
<link rel="shortcut icon" href="img/favicon.png">

<title>Blog - Admin Page</title>

<!-- Bootstrap CSS -->
<link href="{{ asset('bootstrap.min.css','css') }}" rel="stylesheet">
<!-- bootstrap theme -->
<link href="{{ asset('bootstrap-theme.css','css') }}" rel="stylesheet">
<!--external css-->
<!-- font icon -->
<link href="{{ asset('elegant-icons-style.css','css') }}"
	rel="stylesheet" />
<link href="{{ asset('font-awesome.min.css','css') }}" rel="stylesheet" />
<!-- full calendar css-->
<link
	href="{{ asset('fullcalendar/fullcalendar/bootstrap-fullcalendar.css','assets') }}"
	rel="stylesheet" />
<link
	href="{{ asset('fullcalendar/fullcalendar/fullcalendar.css','assets') }}"
	rel="stylesheet" />
<!-- easy pie chart-->
<link
	href="{{ asset('jquery-easy-pie-chart/jquery.easy-pie-chart.css','assets') }}"
	rel="stylesheet" type="text/css" media="screen" />
<!-- owl carousel -->
<link rel="stylesheet" href="{{ asset('owl.carousel.css','css') }}"
	type="text/css">
<link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
<!-- Custom styles -->
<link rel="stylesheet" href="{{ asset('fullcalendar.css','css') }}">
<link href="{{ asset('widgets.css','css') }}" rel="stylesheet">
<link href="{{ asset('style.css','css') }}" rel="stylesheet">
<link href="{{ asset('style-responsive.css','css') }}" rel="stylesheet" />
<link href="{{ asset('xcharts.min.css','css') }}" rel=" stylesheet">
<link href="{{ asset('jquery-ui-1.10.4.min.css','css') }}"
	rel="stylesheet">
<link href="{{ asset('mystyle.css','css') }}" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
	      <script src="{{ asset('html5shiv.js','js') }}"></script>
	      <script src="{{ asset('respond.min.js','js') }}"></script>
	      <script src="{{ asset('lte-ie7.js','js') }}"></script>
	    <![endif]-->


<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-XXXXXXXX-X' ]);
	_gaq.push([ '_trackPageview' ]);

	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>
<body>
	<div class="parallax-container" data-parallax="scroll" data-bleed="10"
		data-speed="0.4"
		data-image-src="{{ asset('paralax-img/parallax-1.jpg','img') }}"
		data-natural-width="" data-natural-height="" style="min-height: 55%">

	</div>

	<div class="parallax-container" data-parallax="scroll" data-bleed="5"
		data-speed="0.7"
		data-image-src="{{ asset('paralax-img/parallax-2.jpg','img') }}"
		data-natural-width="" data-natural-height="" style="height: 40%;">
		<div class="row">
			<div class="col-md-7">
				<section class="lazy-load-box effect-fade" data-delay="200"
					data-speed="800"
					style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
					<h2>OUR COMMITMENT</h2>
					<h5>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed
						do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
						enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat.</h5>
					<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
						enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat
						nulla pariatur. Lorem ipsum dolor sit amet conse ctetur
						adipisicing elit.</p>
					<a href="blog/" title="Read more"
						class="btn btn-default btn-normal btn-inline btn-1" target="_self"
						data-hover="Read more">Read more<span></span></a>
				</section>
			</div>
		</div>
	</div>

	<div class="parallax-container" data-parallax="scroll" data-bleed="5"
		data-speed="0.7"
		data-image-src="{{ asset('paralax-img/parallax-3.jpg','img') }}"
		data-natural-width="" data-natural-height="" style="height: 40%"></div>

	<div class="parallax-container" data-parallax="scroll" data-bleed="5"
		data-speed="0.7"
		data-image-src="{{ asset('paralax-img/slide-1.jpg','img') }}"
		data-natural-width="" data-natural-height="" style="height: 40%"></div>

	<!-- javascripts -->

	<script src="{{ asset('jquery.js','js') }}"></script>
	<script src="{{ asset('jquery-ui-1.10.4.min.js','js') }}"></script>
	<script src="{{ asset('jquery-1.8.3.min.js','js') }}"></script>
	<script type="text/javascript"
		src="{{ asset('jquery-ui-1.9.2.custom.min.js','js') }}"></script>
	<!-- bootstrap -->
	<script src="{{ asset('bootstrap.min.js','js') }}"></script>
	<!-- nice scroll -->
	<script src="{{ asset('jquery.scrollTo.min.js','js') }}"></script>
	<script src="{{ asset('jquery.nicescroll.js','js') }}"
		type="text/javascript"></script>
	<!-- charts scripts -->
	<script src="{{ asset('jquery-knob/js/jquery.knob.js','assets') }}"></script>
	<script src="{{ asset('jquery.sparkline.js','js') }}"
		type="text/javascript"></script>
	<script
		src="{{ asset('jquery-easy-pie-chart/jquery.easy-pie-chart.js','assets') }}"></script>
	<script src="{{ asset('owl.carousel.js','js') }}"></script>
	<!-- jQuery full calendar -->
	<script src="{{ asset('fullcalendar.min.js','js') }}"></script>
	<!-- Full Google Calendar - Calendar -->
	<script
		src="{{ asset('fullcalendar/fullcalendar/fullcalendar.js','assets') }}"></script>
	<!--script for this page only-->
	<script src="{{ asset('calendar-custom.js','js') }}"></script>
	<script src="{{ asset('jquery.rateit.min.js','js') }}"></script>
	<!-- custom select -->
	<script src="{{ asset('jquery.customSelect.min.js','js') }}"></script>
	<script src="{{ asset('chart-master/Chart.js','assets') }}"></script>

	<!--custome script for all page-->
	<script src="{{ asset('scripts.js','js') }}"></script>
	<!-- custom script for this page-->
	<script src="{{ asset('sparkline-chart.js','js') }}"></script>
	<script src="{{ asset('easy-pie-chart.js','js') }}"></script>
	<script src="{{ asset('jquery-jvectormap-1.2.2.min.js','js') }}"></script>
	<script src="{{ asset('jquery-jvectormap-world-mill-en.js','js') }}"></script>
	<script src="{{ asset('xcharts.min.js','js') }}"></script>
	<script src="{{ asset('jquery.autosize.min.js','js') }}"></script>
	<script src="{{ asset('jquery.placeholder.min.js','js') }}"></script>
	<script src="{{ asset('gdp-data.js','js') }}"></script>
	<script src="{{ asset('morris.min.js','js') }}"></script>
	<script src="{{ asset('sparklines.js','js') }}"></script>
	<script src="{{ asset('charts.js','js') }}"></script>
	<script src="{{ asset('jquery.slimscroll.min.js','js') }}"></script>
	<script src="{{ asset('parallax/parallax.min.js','js') }}"></script>
	<script type="text/javascript"
		src="{{ asset('ckeditor/ckeditor.js','assets') }}"></script>

</body>
</html>
